<div class="login-page">
  <div class="login-block">
    <div class="login-block-wrapper">
      <div class="message-block">
        <div class="img-wrapper-logo">
          <img src="../../assets/img/Logo-Compasso-Branco-hor 1.png" />
        </div>
      </div>
      <form class="login-form" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <h2>Registrar</h2>
        <div class="input-and-icon">
          <label class="label1">
            <input
            type="text"
            id="userName"
            placeholder="Usuário"
            formControlName="userName"
            (change)="anim()"
            (blur)="isFull = (this.registerForm.value.userName || this.registerForm.value.password|| this.registerForm.value.confirmPassword)? true : false"
            (focus)="isFull = true"
            (focus)="validate(); updateErrorMessage();"
            (blur)="validate(); updateErrorMessage();"
            [@turnYellow] = "isValid? 'enter' : 'leave'"
            />
          </label>
          <img [@turnYellow] = "isValid? 'enter' : 'leave'" [@moveIcon] = "isFull? 'enter' : 'leave'" src="../../assets/svg/user-icon.svg" alt="icone do usuario" />
        </div>
        <div class="input-and-icon">
          <label class="label2">
            <input
            class="password"
            id="password"
            type="password"
            placeholder="Senha"
            formControlName="password"
            (change)="anim()"
            (blur)="isFull = (this.registerForm.value.userName || this.registerForm.value.password|| this.registerForm.value.confirmPassword)? true : false"
            (focus)="isFull = true"
            (focus)="validate(); updateErrorMessage();"
            (blur)="validate(); updateErrorMessage();"
            [@turnYellow] = "isValid? 'enter' : 'leave'"
          />
          </label>
          <img [@turnYellow] = "isValid? 'enter' : 'leave'"  [@moveIcon] = "isFull? 'enter' : 'leave'" src="../../assets/svg/padlock-icon.svg" alt="icone da senha" />
        </div>
        <div class="input-and-icon">
          <label class="label2">
            <input
            class="password"
            id="password"
            type="password"
            placeholder="Confirmar senha"
            formControlName="confirmPassword"
            (change)="anim()"
            (blur)="isFull = (this.registerForm.value.userName || this.registerForm.value.password || this.registerForm.value.confirmPassword)? true : false"
            (focus)="isFull = true"
            (focus)="validate(); updateErrorMessage();"
            (blur)="validate(); updateErrorMessage();"
            [@turnYellow] = "isValid? 'enter' : 'leave'"
          />
          </label>
          <img [@turnYellow] = "isValid? 'enter' : 'leave'"  [@moveIcon] = "isFull? 'enter' : 'leave'" src="../../assets/svg/padlock-icon.svg" alt="icone da senha" />
        </div>
        <div
          class="invalid-credentials-message"

        >
          <span>{{errMessage}}</span>
        </div>
        <input type="submit" class="submit-button" value="continuar" />
        <div class="register">
          <p>Já possui uma conta?</p> <a [routerLink]="['../login']">Fazer login</a>
        </div>
      </form>
    </div>
  </div>
  <div class="image-block">
    <div class="image-background">
      <img class="bg" src="../../assets/img/background-login.png" />
      <div class="logo-overlay">
        <div>
          <img src="../../assets/img/Logo-Compasso-Branco-hor 1.png" />
        </div>
      </div>
    </div>
  </div>
</div>
