<div class="login-page">
  <div class="login-block">
    <div class="login-block-wrapper">
      <div class="message-block">
        <div class="img-wrapper-logo">
          <img src="../../assets/img/Logo-Compasso-Branco-hor 1.png" />
        </div>
      </div>
      <form class="login-form" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <h2>Registrar</h2>
        <div class="input-and-icon">
          <label class="label1">
            <input
            type="text"
            id="userName"
            placeholder="Usuário"
            formControlName="userName"
            (change)="isFull = anim()"
            (blur)="isFull = (this.registerForm.value.userName || this.registerForm.value.password|| this.registerForm.value.confirmPassword)? true : false"
            (focus)="isFull = true"
            (focus)="validate();"
            (blur)="validate();"
            (input)="logErrors()"
            [@turnYellow] = "isValid? 'enter' : 'leave'"
            />
          </label>
          <img [@turnYellow] = "isValid? 'enter' : 'leave'" [@moveIcon] = "isFull? 'enter' : 'leave'" src="../../assets/svg/user-icon.svg" alt="icone do usuario" />
        </div>
        <div class="password-validation"
          *ngIf="registerForm.get('userName')?.errors?.['email'] && registerForm.get('userName')?.touched"
         >
          <h4>Insira um endereço de email válido</h4>
        </div>
        <div class="password-validation"
          *ngIf="registerForm.get('userName')?.errors?.['required'] && registerForm.get('userName')?.touched"
         >
          <h4>Este campo é obrigatório</h4>
        </div>
        <div class="input-and-icon">
          <label class="label2">
            <input
            class="password"
            id="password"
            type="password"
            placeholder="Senha"
            formControlName="password"
            (change)="isFull = anim()"
            (blur)="isFull = (this.registerForm.value.userName || this.registerForm.value.password|| this.registerForm.value.confirmPassword)? true : false"
            (focus)="isFull = true"
            (focus)="validate();"
            (blur)="validate();"
            (input)="logErrors()"
            [@turnYellow] = "isValid? 'enter' : 'leave'"
          />
          </label>
          <img [@turnYellow] = "isValid? 'enter' : 'leave'"  [@moveIcon] = "isFull? 'enter' : 'leave'" src="../../assets/svg/padlock-icon.svg" alt="icone da senha" />
        </div>
        <div class="password-validation"
          *ngIf="!(registerForm.get('password')?.valid) && registerForm.get('password')?.touched"
        >
          <h4>Sua senha deverá conter:</h4>
          <div
          [@turnTextGreen] = "(isLongEnough && registerForm.get('password')?.value?.length)? 'enter' : 'leave'"
          >
          <mat-icon class="icon-clear"
            *ngIf="registerForm.get('password')?.errors?.['minlength'] || !registerForm.get('password')?.value?.length"
          >clear</mat-icon>
          <mat-icon class="icon-check"
          *ngIf="!registerForm.get('password')?.errors?.['minlength'] && registerForm.get('password')?.value?.length"
          >check</mat-icon>
          <h4>Ao menos 6 Caracteres</h4></div>
          <div
          [@turnTextGreen] = "hasUpper ? 'enter' : 'leave'"
          >
            <mat-icon class="icon-clear"
            *ngIf="registerForm.get('password')?.errors?.['hasUpperCase']"
            >clear</mat-icon>
            <mat-icon class="icon-check"
            *ngIf="!registerForm.get('password')?.errors?.['hasUpperCase']"
            >check</mat-icon>
            <h4>Uma letra maiúscula</h4>
          </div>
          <div
          [@turnTextGreen] = "hasLower? 'enter' : 'leave'"
          >
          <mat-icon class="icon-clear"
          *ngIf="registerForm.get('password')?.errors?.['hasLowerCase']"
          >clear</mat-icon>
          <mat-icon class="icon-check"
          *ngIf="!registerForm.get('password')?.errors?.['hasLowerCase']"
          >check</mat-icon>
          <h4>Uma letra minúscula</h4></div>
          <div
          [@turnTextGreen] = "hasNumber? 'enter' : 'leave'"
          >
          <mat-icon class="icon-clear"
          *ngIf="registerForm.get('password')?.errors?.['hasNumber']"
          >clear</mat-icon>
          <mat-icon class="icon-check"
          *ngIf="!registerForm.get('password')?.errors?.['hasNumber']"
          >check</mat-icon>
          <h4>Um número</h4></div>
          <div
          [@turnTextGreen] = "hasSpecial? 'enter' : 'leave'"
          >
          <mat-icon class="icon-clear"
          *ngIf="registerForm.get('password')?.errors?.['hasSpecialCharacters']"
          >clear</mat-icon>
          <mat-icon class="icon-check"
          *ngIf="!registerForm.get('password')?.errors?.['hasSpecialCharacters']"
          >check</mat-icon>
          <h4>Um caractere especial</h4></div>
        </div>
        <div class="input-and-icon">
          <label class="label2">
            <input
            class="password"
            id="password"
            type="password"
            placeholder="Confirmar senha"
            formControlName="confirmPassword"
            (change)="isFull = anim()"
            (blur)="isFull = (this.registerForm.value.userName || this.registerForm.value.password || this.registerForm.value.confirmPassword)? true : false"
            (focus)="isFull = true"
            (focus)="validate();"
            (blur)="validate();"
            (input)="logErrors()"
            [@turnYellow] = "isValid? 'enter' : 'leave'"
          />
          </label>
          <img [@turnYellow] = "isValid? 'enter' : 'leave'"  [@moveIcon] = "isFull? 'enter' : 'leave'" src="../../assets/svg/padlock-icon.svg" alt="icone da senha" />
        </div>
        <div class="password-validation"
          *ngIf="registerForm.get('password')?.value != registerForm.get('confirmPassword')?.value && registerForm.get('confirmPassword')?.touched"
         >
          <h4>As senhas não coincidem</h4>
        </div>

        <input type="submit" class="submit-button" value="continuar" />
        <div class="register">
          <p>Já possui uma conta?</p> <a [routerLink]="['../login']">Fazer login</a>
        </div>
      </form>
    </div>
  </div>
  <div class="image-block">
    <div class="image-background">
      <img class="bg" src="../../assets/img/background-login.png" />
      <div class="logo-overlay">
        <div>
          <img src="../../assets/img/Logo-Compasso-Branco-hor 1.png" />
        </div>
      </div>
    </div>
  </div>
</div>
