@import "../../styles.scss";

.login-page{
  display: flex;
  background: linear-gradient(to bottom, #33383D,#1c1d20);

  .login-block{
    font-family: $main-font;
    width: 50%;
    display: flex!important;
    flex-direction: column!important;
    align-items: center!important;

    color: #e0e0e0;

    .message-block{
      img{
        display: none;
      }
      h1{
        font-size: 60px;
        line-height: 76px;
        font-weight: 400;
        margin-top: 135px;
      }
      p{
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
        width: 301px;
        margin-top: 17px;
      }


    }
    .login-form{

      margin-top: 155px;

      h2{
        font-size: 30px;
        line-height: 38px;

      }
      .input-and-icon{
        position: relative;
        margin-top: 32px;
        input{
          //box-sizing: border-box;
          padding: 20px;
          //padding-right: 2px;
          background-color: #26292c;
          border: 1px solid #FFFFFF;
          border-radius: 50px;
          font: 16px;
          color: #e0e0e0;
          font-family: $main-font;
          width: 337px; //not sure what is going on here, but 379 px wouldn't wouldn't work
        }
        img{
          position: absolute;
          margin: 18px
        }
        .password:not(:placeholder-shown){
          letter-spacing: 10px;

        }
      }
      .password-validation{
        margin: 24px;
        div{
          display: flex;
        }
        h4{
          margin: 4px;
          height: 24px;


        }
      }

      .invalid-credentials-message{
        width: 283px;
        font-size: 16px;
        font-weight: 700;
        color: #e9b425;
        text-align: center;
        line-height: 20px;
        border-top: 28px;
        margin-left: 46px;
        margin-top: 28px;
        position: absolute;

      }
      .submit-button{
        margin-top: 32px;
        padding: 20px;
        background: linear-gradient(to right, #FF2D04,#C13216);
        box-shadow: inset 5px 5px 15px rgba(0, 0, 0, 0.15);
        border: none;
        border-radius: 50px;
        font-weight: 700;
        text-align: center;
        color: #e0e0e0;
        font-family: $main-font;
        width: 379px;
        filter: drop-shadow(5px 5px 15px rgba(0, 0, 0, 0.5));
      }
      .register{
        margin-top: 24px;
        display:flex;
        justify-content: center;
        p{
          margin-right: 6px;
        }
      }

    }
  }
  .image-block{
    width: 50%;
    .image-background{
      position: relative;
      .bg{
        height: 100vh;
        width: 100%;
        object-fit: cover;
        height: auto;
      }
      .logo-overlay{
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        margin-top: 35px;
        div{
          display: flex;
          justify-content: center;
          img{
            width: 306px;

          }
        }
      }
    }
  }
}
@media(max-width: 1366px){
  .message-block {
    h1{
      margin-top: 30px!important;
    }
  }
  .login-form{
    margin-top: 70px!important;
  }
}
@media(max-width: 960px){
  .message-block{
    .img-wrapper-logo{
      display: flex;
      justify-content: center;
    }
    img{
      display: block!important;
      width: 75%;
      max-width: 300px;
    }
    p{
      width: 100%!important;
    }
  }
  .login-page{
    box-sizing: border-box;
  }

  input{

    width: 100%!important;
    //margin-right: px!important;
  }
  .submit-button{
    margin-top: 36px!important;
  }

  .input-and-icon{
    position:inherit!important;
    width: 100%!important;
    box-sizing: border-box!important;
    padding-right: 40px;
    img{
      display: none;
    }
    input{
      width: 100%!important;
    }

    .label1 {
      position: relative;
    }

    .label1:before {
      content: "";
      position: absolute;
      right: 20px;
      top: 0;
      bottom: 0;
      width: 20px;
      background: url("../../assets/svg/user-icon.svg") center / contain no-repeat;
    }
    .label2 {
      position: relative;
    }

    .label2:before {
      content: "";
      position: absolute;
      right: 20px;
      top: 0;
      bottom: 0;
      width: 20px;
      background: url("../../assets/svg/padlock-icon.svg") center / contain no-repeat;
    }

  }
  .login-block{
    min-height: 100vh;
    display: flex;
    width: 100%!important;
    box-sizing: border-box;
    padding: 30px;
    .login-block-wrapper{
      width: 100%;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
    }
  }
  .image-block{
    display: none;
  }
  .invalid-credentials-message{
    width: 100%!important;
    font-size: 16px;
    font-weight: 700;
    color: #e9b425;
    text-align: center;
    line-height: 20px;
    border-top: 28px;
    margin-left:0px!important;
    margin-top: 28px;
    position: relative!important;
    margin-bottom: -15px;

  }
}




